.MenuOpener {
    border-radius: 50%;
    background: #4f2;
    width: 40px;
    height: 40px;
    opacity: 0.1;
    transition: opacity 0.5s;
}

.MenuOpener:hover {
    opacity: 0.84;
}

.MenuOpener-inside {
    position: relative;
    top: 25%;
    left: 0%;
}