.NoteContainer{
    border-radius: 20px;
    color: #839bc4;
    background: #475368;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: stretch;
    min-height: auto;
    padding: 30px;
    width: 50%;

}